<!doctype html>
<html>
<head>
    <title>Raspberry Pi Armatuurlaud</title>
    <meta http-equiv="refresh" content="10"> 
</head>
<body>
    <h1>Süsteemi Jõudluse Olek</h1>
    
    <hr>
    
    <h2>CPU Temperatuur</h2>
    <p style="font-size: 20px;">
        Hetke temperatuur: 
        <strong id="cpu_temp">{{ cpu_temp }} °C</strong>
    </p>

    <hr>

    <h2>RAM Kasutus</h2>
    <p>
        Kasutatud mälu: <strong id="ram_used">{{ ram_used }} GB</strong> / {{ ram_total }} GB 
    </p>
    <p>
        Kasutusprotsent: <strong id="ram_percent">{{ ram_percent }} %</strong>
    </p>
     <p>
        CPU Kasutusprotsent: <strong id="cpu_usage">{{ cpu_usage }} %</strong>
    </p>

    <div class="center">
        <h1> Uploading and Returning Files With a Database in Flask  </h1>
        <form method="POST" action="/" enctype="multipart/form-data">
            <input class="ok" type="file" name="file">
            <button class="op">Submit</button>
        </form>
    </div>

    </body>

    <script>
    async function updateStats() {
        const r = await fetch("/api/stats");
        const d = await r.json();

        document.getElementById("cpu_temp").innerText = d.cpu_temp;
        document.getElementById("ram_percent").innerText = d.ram_percent;
    }

    setInterval(updateStats, 5000);
    updateStats();
    </script>
  

</html>
